html{
	scroll-behavior: smooth;
}

.navbar {
  transition: all 0.4s;
}

.navbar .nav-link {
  color: #fff;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
  color: rgb(179, 172, 172);
  text-decoration: none;
}

.navbar .navbar-brand {
  color: #fff;
}


/* Change navbar styling on scroll */
.navbar.active {
  background: rgb(2, 2, 2);
  box-shadow: 1px 2px 10px rgba(255, 255, 255, 0.1);
}

.navbar.active .nav-link {
  color: rgb(255, 248, 248);
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
  color: #555;
  text-decoration: none;
}

.navbar.active .navbar-brand {
  color: #555;
}


/* Change navbar styling on small viewports */
@media (max-width: 991.98px) {
  .navbar {
      background: rgb(7, 7, 7);
  }

  .navbar .navbar-brand, .navbar .nav-link {
      color: #555;
  }
}


.text-small {
  font-size: 0.9rem !important;
}


body {
  min-height: 100vh;
  /* background-color: #4ca1af; */
  /* background-image: linear-gradient(135deg, #4ca1af 0%, #c4e0e5 100%); */
}

.parallax1{
  background: url(../images/fifth.jpg);
  min-height: 100vh;
}


.column2 img{
	width: 300px;
	height: 300px;
	border-radius: 50%;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.landing-text span{
  font-size: 30px;
  color:white;
}

section{
  text-align: center;
  height: 70vh;
}

.parallax2{
  background-image: url(../images/first.jpg);
  min-height: 120vh;
}

.parallax1, .parallax2, .parallax3, .parallax4{
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.space{
  height: 50px;
}

.parallax2 .title-head{
  background-color: rgba(250, 250, 250, 0.692);
  color: black;
}

.container4{
	height: 80vh;
	display: flex;
	justify-content: center;
	align-items: center;
	/* background-color:  whitesmoke; */
}

.boxes{
	display: flex;
	height: 90%;
  justify-content: space-around;
  
}

.box{
 	flex-basis: 30%;
	text-align: center;
  /* border: 1px solid black; */
  /* box-shadow: 1px 2px 10px rgba(255, 255, 255, 0.63); */
}
.boxContent{
	/* height: 100%; */
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.boxContent img{
	width: 100%;
	height: 65vh;
	
}

.boxContent h1{
	font-size: 20px;
}


.button1{
	position: absolute;
	bottom:10px;
	height: 30px;
}

.skill img{
  height: 150px;
  width: 150px;
  flex-basis: 20%;
  flex-wrap: wrap;
}

.skills{
  height: 100vh;
}


