html{
	scroll-behavior: smooth;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/*border: 1px solid black; */
	/* border: 1px solid white; */
}


body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;
  overflow-x: hidden;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidenav a {
  padding: 10px 8px 10px 16px;
  text-decoration: none;
  font-size: 30px;
  color: white;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 250px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  /*padding: 0px 10px;*/
  height: 100vh;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.container1{
	background-color: rgba(0, 0, 0, 0.527);
	height: 100vh;
	width: 81.5%;
	position: absolute;
	z-index: 1;
	display: flex;
	flex-direction: column;
	align-items: center;

}

.container1 h2{
	margin-top:100px;
	color: white;
	margin-bottom: 5%;
}
.container1 div{
	/* padding-right: 10px; */
	float: right;
	text-align: center;
	color: white;
	position: relative;
	bottom: 0px;
	font-size: 20px;
	width: 60%;
	

}



.column1{
	width: 40%;
	display: flex;
	justify-content: center;
	align-items:center;
}


.column2{
	width: 40%;
	display: flex;
	justify-content: center;
	align-items:center;
}

.column2 img{
	width: 300px;
	height: 300px;
	border-radius: 50%;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.container2{
	height: 100vh;
	width: 81.5%;
	background-size: cover;
	background-position: center;
	background-image: url(../images/yawkona.jpg);
	z-index: 2;
	background-attachment: fixed;

}

.container3{
	height: 100vh;
	background-image: url(../images/paint2.jpg);
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: center;
}

.landing-text div{
	font-size: 30px;
	/*text-align: center;*/
	display: flex;
	flex-direction: column;
	color: white;	
	margin-bottom: 10px;
}
.landing-text p{
	font-size: 15px;
	/*text-align: center;*/
	display: flex;
	flex-direction: column;
	color: white;	
}

.container4{
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color:  whitesmoke;
}

.boxes{
	display: flex;
	height: 90%;
	justify-content: space-around;
}

.box{
 	flex-basis: 30%;
	text-align: center;
	/* border: 1px solid black; */
}
.boxContent{
	height: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.boxContent > img{
	width: 100%;
	height: 65vh;
	
}

.boxContent h1{
	margin-top: 10px;
	font-size: 20px;
}

.boxContent p{
	font-size: 15px;
}

.button1{
	position: absolute;
	bottom:10px;
	height: 30px;
}

.container5{
	background-color: rgb(134, 133, 133);
	height: 100vh;
	/*background-image: url(../images/what5.jpg);*/
	background-position: center;
	background-size: cover;
}